@import './scss/themes/theme-dark.scss';
@import './scss/themes/theme-light.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

$lightThPrimary: #f6d699;
$lightThSecondary: #c2a878;

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  height: 5rem;
}

.header-icon {
  height: 15rem;
  width: 15rem;
}

header {
  position: relative;
  height: 52rem;
  min-height: 45rem;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  overflow: hidden;
  background-color: $lightThPrimary;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 15rem;
  padding-bottom: 0;
  h1 {
    font-size: 4.5rem;
    text-align: center;
    font-weight: 600 !important;
    color: #353239;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto 1.8rem auto;
    width: 100%;
  }
  .title-styles {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
  }
}

.language-icon {
  font-size: 5rem;
  cursor: pointer;
}

.project-date {
  font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.8rem 1.5rem 0.2rem 1.5rem;
  position: relative;
  z-index: -500;
  border-top: 0.5rem solid #696969;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #696969;
  color: white;
}

.skills-tile {
  background-color: transparentize(#f8f5f4, 0.95);
  padding: 1rem 1rem 0.5rem 1rem;
  width: 10rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.8rem;
}

.language {
  font-size: 2.5rem;
  background-color: $lightThPrimary;
  padding-bottom: 1rem;
  padding-top: 8rem;
}

.slider-image {
  border: 0.5rem solid #d7caaa;
}

.slider-tab {
  background-color: #d7caaa;
  height: 2.5rem;
}

.slider-iconfiy {
  margin-top: 1rem;
}

.styles_typicalWrapper__1_Uvh::after {
  cursor: none !important;
  display: none;
}

#about {
  background: $lightThSecondary;
  overflow: hidden;
}

#about h1 {
  padding-top: 5%;
  font: 1.8rem/2.4rem 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: black;
  text-align: center;
}

.foto img {
  display: block;
  width: 100%;
}

.foto div {
  background: #ffffff;
  display: inline-block;
  margin: 0 auto 5% auto;
  padding: 1rem 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.foto div:after {
  color: #333;
  font-size: 2.5rem;
  content: attr(title);
  position: relative;
  top: 1.5rem;
}

.foto div:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 10;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
}

.project-title-settings {
  margin-top: 5%;
  font: 1.8rem/2.4rem 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: black;
  text-align: center;
}

.polaroid img {
  display: block;
  max-width: 20rem;
}

.polaroid span {
  background: #ffffff;
  display: inline-block;
  margin: 5.5rem 7.5rem 3rem;
  padding: 1.5rem 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.link-href {
  color: black;
}

.wave {
  font-size: 160%;
}

.font-trebuchet {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#preview {
  width: 50rem;
  background-color: #ebeaf5;
  padding: 1.5rem;
  position: relative;
  margin-bottom: 15%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resume {
  background: $lightThPrimary;
}

.experience-icon {
  font-size: 4.2rem;
  margin-top: 1rem;
  text-align: center;
}

@media only screen and (max-width: 117rem) {
  .experience-icon {
    font-size: 4.2rem;
    margin-top: 1rem;
    text-align: center;
  }
}

.main-badge {
  font-size: 1.3rem !important;
  text-align: left !important;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem !important;
  vertical-align: baseline;
  background-color: #ae944f !important;
  color: white;
  font-weight: lighter !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.experience-badge {
  font-size: 1.1rem !important;
  text-align: left !important;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem !important;
  vertical-align: baseline;
  background-color: #f9f5e9 !important;
  color: black;
  font-weight: lighter !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vertical-timeline-element-date {
  padding: 0 !important;
  margin: 0 !important;
}

.modal-inside .modal-content {
  background: white;
}

.bars {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}

.bars .skills {
  margin-top: 3.6rem;
  list-style: none;
}

.bars li {
  position: relative;
  margin-bottom: 6rem;
  background: #ccc;
  height: 4.2rem;
  border-radius: 0.3rem;
}

.bars li em {
  font: 1.5rem 'opensans-bold', sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: normal;
  position: relative;
  top: -3.6rem;
}

.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 2.4rem;
  background: #313131;
  display: inline-block;
  height: 4.2rem;
  line-height: 4.2rem;
  border-radius: 0.3rem 0 0 0.3rem;
}

.modal-close {
  text-align: right;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
}

.close-icon {
  color: black;
  font-weight: lighter !important;
}

.modal-description {
  text-align: justify;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.awssld__next {
  outline: none !important;
}

.awssld__prev {
  outline: none !important;
}

.loader-bar-color {
  color: black !important;
}

#portfolio {
  background: $lightThPrimary;
  padding-bottom: 5%;
}

.portfolio-item {
  max-width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(51, 51, 51, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio
  .portfolio-item
  .portfolio-item-caption
  .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 57.6rem) {
  .portfolio .closeButtonResponsive {
    display: block;
  }
  .portfolio .portfolio-item {
    margin-bottom: 3rem;
  }
}

#skills {
  background: $lightThSecondary;
  min-height: 20rem;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;
}

.section-title {
  padding-top: 5%;
  padding-bottom: 5%;
  font: 1.8rem/2.4rem 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #fff;
  text-align: center;
}

.skill-icon {
  font-size: 180%;
  color: white;
  text-align: center;
  position: relative;
}

footer {
  background: $lightThSecondary;
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
  font-size: 1.4rem;
  color: white;
  position: relative;
  text-align: center;
}

footer a,
footer a:visited {
  color: #fff;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

.social-links {
  margin-top: 5rem;
  font-size: 2.2rem;
}
